<!DOCTYPE HTML>
<html>
<head>
  <meta charset="utf-8">
  <title>Extension Switch</title>
  <link rel="stylesheet" href="../css/popup.css">
</head>
<body>
  <div id="app">
    <div>
      <input id="search" type="text" placeholder="Search"
        v-model="search"
      >
    </div>

    <div>
      <h1>Enabled</h1>
      <ul class="extensions extensions-enabled">
        <li
          v-for="e in enabledExtensions"
          :key="e.id"
          :class="liClass(e)"
          :style="liStyle(e)"
          @click="switchExtension(e)"
        >
          {{ e.name|trim(30) }}
        </li>
      </ul>
    </div>

    <div>
      <h1 class="heading-disabled">Disabled</h1>
      <ul class="extensions extensions-disabled">
        <li
          v-for="e in disabledExtensions"
          :key="e.id"
          :class="liClass(e)"
          :style="liStyle(e)"
          @click="switchExtension(e)"
        >
          {{ e.name|trim(30) }}
        </li>
      </ul>
    </div>
  </div>

  <script src="../scripts/popup.js"></script>
</body>
</html>
