// Provides styles for options.html.
@import "common/common";

.bodywrapper {
  padding: 10px;
}

.description {
  padding: 4px 4px 10px;
}

.extensions {
  li {
    border-radius: 1px;
    margin: 1px;
    padding: 4px;
    transition-duration: 0.2s;
    @include background-color('bg-item');

    &:hover {
      cursor: pointer;
    }
  }

  input[type="checkbox"] {
    display: inline-block;
    margin-left: 4px;

    &:checked + span {
      @include color('disabled');
    }
  }

  span {
    display: inline-block;
    padding: 4px 0 4px 22px;
    background: {
      position: 4px center;
      repeat: no-repeat;
      size: 14px;
    };
  }
}
