// Provides styles for popup.html.
@import "common/common";

body {
  min-width: 240px;
}

h1 {
  &.h1disabled {
    color: $color-disabled;
  }
}

.extensions {
  &.extensions-enabled li,
  &.extensions-disabled li:hover {
    background-color: $color-bg-base;
    color: $color-text-base;
  }

  &.extensions-disabled li,
  &.extensions-enabled li:hover {
    background-color: $color-disabled;
    color: $color-bg-base;
    -webkit-filter: grayscale(100%);
  }

  li {
    background: {
      position: 4px center;
      repeat: no-repeat;
      size: 14px;
    };
    border-radius: 1px;
    margin: 1px;
    padding: 4px 0 4px 22px;
    transition-duration: 0.2s;

    &:hover {
      cursor: pointer;
    }
  }
}
