// Provides styles for popup.html.
@import "common/common";

body {
  min-width: 240px;
  padding: 4px;
}

#search {
  box-sizing: border-box;
  display: block;
  outline: none;
  padding: 4px;
  width: 100%;
}

.heading-disabled {
}

.extensions {
  &.extensions-enabled li,
  &.extensions-disabled li:hover {
    @include background-color('bg-item');
    @include color('text-base');
    filter: none;
  }

  &.extensions-disabled li,
  &.extensions-enabled li:hover {
    @include background-color('disabled');
    @include color('text-base');
    filter: opacity(60%);
  }

  li {
    background: {
      position: 4px center;
      repeat: no-repeat;
      size: 14px;
    };
    border-radius: 1px;
    margin: 1px;
    padding: 4px 0 4px 22px;
    transition-duration: 0.2s;

    &:hover {
      cursor: pointer;
    }
  }
}
