$colors-light: (
  "text-base": #111,
  "bg-body": #fff,
  "bg-item": #f4f4f4,
  "disabled": #bbb,
  "border": #aaa,
);
$colors-dark: (
  "text-base": #eee,
  "bg-body": #222,
  "bg-item": #282828,
  "disabled": #444,
  "border": #999,
);

@mixin color($name) {
  color: map-get($colors-light, $name);
  @media (prefers-color-scheme: dark) {
    color: map-get($colors-dark, $name);
  }
}

@mixin background-color($name) {
  background-color: map-get($colors-light, $name);
  @media (prefers-color-scheme: dark) {
    background-color: map-get($colors-dark, $name);
  }
}

@mixin border-color($name) {
  border-color: map-get($colors-light, $name);
  @media (prefers-color-scheme: dark) {
    border-color: map-get($colors-dark, $name);
  }
}


body {
  font: {
    family: "Open Sans", Arial, "Lucida Grande", sans-serif;
    size: 12px;
  };
  margin: 0;
  padding: 0;
  @include color('text-base');
  @include background-color('bg-body');
}

h1 {
  font: {
    family: Verdana;
    size: 12px;
    weight: normal;
  };
  margin: 4px 0 0;
  padding: 4px;
}

.extensions {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

input[type="text"] {
  @include color('text-base');
  @include background-color('bg-body');
  border: 1px solid;
  @include border-color('border');
}
